html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(../images/business-people-rush-hour-walking-commuting-city-concept.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-group {
    padding-bottom: 10px;
}

.create {
    padding-top: 20px;
}

.container {
    color: rgb(156, 155, 155);
    font-size: 19px;
    
}
